<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="dataMapper">
	<!-- category -->
	<resultMap type="category" id="categoryResult">
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="name"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<select id="selectCategory" resultMap="categoryResult">
		SELECT
		    CATEGORY_NO ,
			CATEGORY_NAME ,
			STATUS  
		FROM CATEGORY
	    WHERE STATUS LIKE 'Y'
	    ORDER BY CATEGORY_NO
	</select>
	<!-- price -->
	<resultMap type="Price" id="priceResult">
		<result column="PRICE_NO" property="priceNo"/>
		<result column="PRICE_MIN" property="min"/>
		<result column="PRICE_MAX" property="max"/>
	</resultMap>
	<select id="selectPrice" resultMap="priceResult">
		SELECT
			PRICE_NO ,
			PRICE_MIN ,
			PRICE_MAX  
		FROM PRICE
		ORDER BY PRICE_MIN
	</select>
	<!--  -->
	<resultMap type="type" id="typeResult">
		<result column="TYPE_NO" property="typeNo"/>
		<result column="REF_CATEGORY_NO" property="categoryNo"/>
		<result column="TYPE_NAME" property="name"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	<select id="selectType" parameterType="_int" resultMap="typeResult">
		SELECT
		    TYPE_NO ,
			REF_CATEGORY_NO ,
			TYPE_NAME ,
			STATUS  
	    FROM TYPE
	    WHERE REF_CATEGORY_NO LIKE #{categoryNo}
	</select>
	<resultMap type="brand" id="brandResult">
		<result column="BRAND_NO" property="brandNo"/>
		<result column="BRAND_NAME" property="name"/>
		<result column="STATUS" property="status"/>
		<result column="QUANTITY" property="quantity"/>
	</resultMap>
	<select id="selectBrand" parameterType="_int" resultMap="brandResult">
		SELECT
			B.BRAND_NO ,
			B.BRAND_NAME ,
			B.STATUS,
			COUNT(P.PRODUCT_NO) QUANTITY
		FROM BRAND B
		JOIN MODEL M ON(M.REF_BRAND_NO = B.BRAND_NO)
		JOIN PRODUCT P ON(P.REF_MODEL_NO = M.MODEL_NO)
		JOIN TYPE T ON(P.REF_TYPE_NO = T.TYPE_NO)
		WHERE B.BRAND_NO LIKE #{typeNo}
			AND B.STATUS LIKE 'Y'
			AND M.STATUS LIKE 'Y'
			AND P.STATUS LIKE 'Y'
			AND T.STATUS LIKE 'Y'
		GROUP BY 
			BRAND_NO ,
			BRAND_NAME ,
			B.STATUS
		ORDER BY QUANTITY DESC
	</select>
	<!-- model -->
	<resultMap type="model" id="modelResult">
		<result column="MODEL_NO" property="modelNo"/>
		<result column="MODEL_NAME" property="name"/>
		<result column="STATUS" property="status"/>
		<result column="QUANTITY" property="quantity"/>
	</resultMap>
	
	<select id="selectModel" parameterType="_int" resultMap="modelResult">
		SELECT
	        M.MODEL_NO ,
	        M.MODEL_NAME ,
	        M.STATUS ,
	        COUNT(P.PRODUCT_NO) QUANTITY
		FROM MODEL M
        JOIN PRODUCT P ON(P.REF_MODEL_NO = M.MODEL_NO)
        JOIN BRAND B ON(B.BRAND_NO = M.REF_BRAND_NO)
        WHERE B.BRAND_NO LIKE #{brandNo}
        	AND M.STATUS LIKE 'Y'
            AND P.STATUS LIKE 'Y'
            AND B.STATUS LIKE 'Y'
        GROUP BY 
	        M.MODEL_NO ,
	        M.MODEL_NAME ,
	        M.STATUS
        ORDER BY QUANTITY DESC
	</select>
</mapper>
