<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="questionMapper">
<insert id="addToQuestion" parameterType="question">
	INSERT INTO CUSTOMER_SERVICE(
		SERVICE_NO ,
		REF_MEMBER_NO ,
		QUESTION_TITLE ,
		QUESTION_CONTENT,
		REF_QUESTION_CATEGORY_NO
	) 
	VALUES(
		SEQ_CUSTOMER_SERVICE.NEXTVAL,
		#{member},
		#{questionTitle},
		#{questionContent},
		#{category}
	)
</insert>
<update id="addToAnswer" parameterType="question">
	UPDATE CUSTOMER_SERVICE
	SET 
	ANSWER_CONTENT = #{answerContent},
	ANSWER_DATE = SYSDATE
	WHERE SERVICE_NO LIKE #{serviceNo}
</update>
</mapper>
